<% if(locals.errors) {%>
<div class="alert-container">
  <input type="checkbox" id="dismiss" />
  <label for="dismiss">×</label>
  <div class="alert alert-danger" role="alert">
    <% errors.forEach(function(error) { %>
    <p><%= error.msg %></p>
    <% }) %>
  </div>
</div>
<% } %>
