<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script defer src="/javascripts/navMenu.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <header class="header">
      <h1 class="title"><a href="/">MEMBERS ONLY</a></h1>
      <nav class="nav">
        <ul class="nav__list">
          <% if(!locals.currentUser) { %>
          <li class="nav__item">
            <a href="/log-in" class="nav__link">Sign In</a>
          </li>
          <li class="nav__item">
            <a href="/sign-up" class="nav__link">Sign Up</a>
          </li>
          <% } else {%>
          <li class="nav__item">
            <a href="/create-post" class="nav__link link-post"
              ><span class="link-plus">+</span> Post</a
            >
          </li>
          <li class="nav__item nav--sub">
            <img src="images/user.svg" class="user-icon" alt="User" />

            <ul class="nav__list--sub">
              <li class="nav__item">
                <span class="user-name"
                  ><%= locals.currentUser.username %></span
                >
              </li>
              <li class="nav__item">
                <a href="/convert-member" class="nav__link">Become a Member</a>
              </li>
              <li class="nav__item">
                <a href="/convert-admin" class="nav__link">Become an Admin</a>
              </li>
              <li class="nav__item">
                <a href="/log-out" class="nav__link">Sign Out</a>
              </li>
            </ul>
          </li>
          <% } %>
        </ul>
      </nav>
    </header>
  </body>
</html>
