<%- include('partials/layout') %> 

<main>
  <h2 class="page-header">Become an Admin</h2>

  <% if(locals.currentUser && locals.currentUser.membership !== 'admin') {%> 
  <form action="" method="POST" class="form form-admin">
    <%- include('partials/errors') %> 
    <div class="form-group">
      <label for="password">Admin Acccess Code</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter code"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <% } else { %> 
    <p>You are already an Admin</p>
  <% } %> 
</main>

</body>
</html>
